.header__lang-link {
  width: 30px;
  height: 28px;
  left: 1155px;
  top: 46px;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s linear .3s;
}
@media screen and (max-width: 320px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 1.11;
    top: 30px;
  }
}
.header__lang-link:hover {
  opacity: .5;
}
