.places__link {
    font-size: 18px;
    line-height: 1.2px;
    text-decoration-line: underline;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 1s linear .3s;
}

.places__link:hover {
    opacity: .8;
}

@media screen and (max-width: 320px) {
    .places__link {
        padding-left: 16px;
    }
}