.footer__copyright {
    margin: 0;
    text-align: right;
    color: #FFFFFF;
    justify-items: end;
    font-size: 14px;
    line-height: 1.1;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        margin-top: 48px;
        padding-left: 0;
        text-align: left;
        line-height: 1;
    }
}