.footer__row {
    display: grid;
    margin: 0;
    padding: 0;
    justify-items: start;
    grid-template-columns: repeat(5, min-content);
    grid-column-gap: 18px;
    align-items: end;
    list-style-type: none;
    font-size: 16px;
    line-height: 1.1;
}

@media screen and (max-width: 767px) {
    .footer__row {
        font-size: 24px;
        line-height: 1;
        grid-gap: 32px;
        grid-template-columns: min-content;
    }
}